#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

h1 {
    padding-left: 20px;
}

h2 {
    font-size: 18px;
}

select {
    padding: 10px;
    border-radius: 10px;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

input {
    color: black;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid grey;
    text-align: center;
}

input:last-child {
    border: none;
}

#features {
    top: 0;
    height: 200px;
    margin-top: 20px;
    width: 500px;
}

.map-options {
    margin-top: 20px;
    margin-right: 20px;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    padding: 20px;
    display: block;
    font-size: 20px;
    border-radius: 5px;
}

.map-description, .sources {
    padding-left: 20px;
    font-size: 12px;
}

#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.hidden {
    display: none;
}

.break {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    opacity: 0.6;
    border: 1px solid;
}

.dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}